.form-group,
.tickets,
.accelerated,
.productive,
.wait-hrs {
  display: grid;
  flex-direction:column;
  gap: 16px;
  padding: 16px 0;
}

.grid {
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
.calculator,
.form-results {
  padding: 16px 40px;
}


.form-results {
  display: none;
}

.roi-history {
	.form-results-table-row {
		display:grid;
		grid-template-columns: repeat(5,1fr);
		 gap: 16px;
	}
	
	.form-results-header {
		font-weight: 500;
	}
}