<div class="roi-history__container">

    <sly data-sly-use.model="com.adobe.aem.demosite.core.models.ROIHistoryModel" />
    <div class="roi-history__headline">
        <h2>${model.headline}</h2>
    </div>


    <div class="roi-history__form">
        <div class="roi-history__userId">
            <div class="roi-history__label">${model.userId}</div>
            <input class="roi-history__input" id="roi-history__userId--id" />
        </div>

        <div class="roi-history__button">
            <button id="roi-history--button" class="roi-history--button">Get ROI History</button>
        </div>
    </div>

    <div class="roi-history__result">
        <div class="roi-history__table">

        </div>
    </div>
</div>

